.gradient-custom {
    background: #6a11cb;
    background: -webkit-linear-gradient(to right, rgba(10, 10, 10), rgba(167, 175, 187));
    background: linear-gradient(to right, rgb(10, 10, 10), rgb(167, 175, 187));
}

.turno-card {
    margin: 30px auto; /* Más espacio alrededor y centrado */
    padding: 25px; /* Aumenta el relleno para hacerlas más grandes */
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Aumenta la sombra */
    background-color: white;
    border: 2px solid #28a745; /* Borde verde */
    max-width: 95%; /* Asegura que no se peguen al borde de la página */
}

.card-title {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.card-text {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.btn-group {
    display: flex;
    justify-content: space-between;
}



.btn-chat {
    background-color: #007bff;
    color: white;
    border: none;
    width: 48%; /* Ajusta el ancho */
}

.btn-group .btn {
    margin-right: 10px;
}

.btn-group .btn:last-child {
    margin-right: 0;
}

.container {
    margin-top: 40px;
    padding: 0 20px; /* Añade un poco de espacio en los lados del contenedor */
}
