
.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(10, 10, 10), rgba(167, 175, 187));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(10, 10, 10), rgb(167, 175, 187))
    }
/* Estilo para las tarjetas de los turnos */
.turno-card {
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
  }
  
  /* Centrar el título */
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  /* Estilo para el texto dentro de la tarjeta */
  .card-text {
    font-size: 1rem;
    margin-bottom: 15px;
  }
  
  /* Alineación de los botones */
  .btn-group {
    
    display: flex;
    justify-content: space-between;
  }
  
  .btn-group .btn {
    margin-right: 10px;
  }
  
  .btn-group .btn:last-child {
    margin-right: 0;
  }
  
  /* Botones que se ajusten al tamaño del contenedor */
  .w-50 {
    width: 50%;
  }
  
  .btn {
    background-color: #6a11cb;
    border: none;
    border-radius: 50px;
    margin: 10px;
}

.btn:hover {
    background-color: #7d3cdb;
}
 
  