<section class="vh-100 gradient-custom">
    <div class="card">
      <h3>Días de Atención:</h3>
      <div data-mdb-input-init class="form-outline mb-4">
          <div *ngFor="let dia of diasSemana; let i = index">
              <label>
                  <input type="checkbox" (change)="booleanoDias(i, $event)" [checked]="diasSeleccionados[i]" /> {{ dia }}
              </label>
          </div>
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label">Desde:</label>
            <input type="text" class="form-control form-control-lg" [(ngModel)]="usuario.data.horario_desde"/>
            
            <label class="form-label">Hasta:</label>
            <input type="text" class="form-control form-control-lg" [(ngModel)]="usuario.data.horario_hasta"/>
        </div>
        
          <button class="btn btn-lg px-5" type="button" (click)="cambiarHorario()">Modificar Horario</button>
          <button class="btn btn-lg px-5" type="button" (click)="descargarCSV()">Descargar CSV Turnos</button>
  
          
      </div>
    </div>
  </section>
  